head
	link(rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" type="text/css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxcore.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxbuttons.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxscrollbar.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxpanel.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxtree.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxcheckbox.js")
	script(type="text/javascript").
		let sl= new Map();
		$(document).ready(function () {
		// create jqxTree
			$('#jqxTree').jqxTree({  hasThreeStates: true, checkboxes: true});
			$('#jqxTree').css('visibility', 'visible');
			$('#jqxTree').on('checkChange', function (event) {
			    var args = event.args;
			    var element = args.element;
			    var checked = args.checked;
				if (element.parentElement.getAttribute("class") != 'jqx-tree-dropdown-root') {	
					if(args.checked == true) {
						sl.set(element.id, element.innerText);
					} else {
						sl.delete(element.id);
					}
				}
			}); 
		});
		function runSuite() {
			$('#dataCnt').empty();
			sl.forEach(function(value, id) {
				var input = $("<input type=\"hidden\" id=\"" + id + "\" name=\"" + id + "\" value=\"" + value + "\" />");
				$('#dataCnt').append(input);
			});
			$( "form" ).submit();
		}
		
		function delSuite() {
			$('#suitDelList').empty();
			sl.forEach(function(value, id) {
				var input = $("<input type=\"hidden\" id=\"del-" + id + "\" name=\"" + id + "\" value=\"" + value + "\" />");
				$('#suitDelList').append(input);
			});
			$( "#suiteDelform" ).submit();
		};
			
		function addCollection() {
			window.location.replace("/upload");
		};
body
	button#addsuite(type='button', onclick='addCollection()') Add Collection	
	button#DeleteIt(type='button', form='suiteDelform' , onclick='delSuite()') Delete Suite
	button#RunIt(type='button', onclick='runSuite()') Run Suite
	form#suiteDelform(action="/delete", method='POST')
		#suitDelList
	form#suiteform(action="/run", method='POST')

		#dataCnt
		#jqxTree
			ul
				li(item-expanded='true')
					a(href="#")= 'All Suites'
						ul
							each dt in data
								li(item-checked='false')
									a(href="#")= dt
