head
	link(rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" type="text/css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxcore.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxbuttons.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxscrollbar.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxpanel.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxtree.js")
	script(src="https://jqwidgets.com/public/jqwidgets/jqxcheckbox.js")
	script(type="text/javascript").
		let sl= new Map();
		$(document).ready(function () {
		// create jqxTree

		$('#jqxTree').jqxTree({  hasThreeStates: true, checkboxes: true});
		$('#jqxTree').css('visibility', 'visible');
		$('#jqxTree').on('checkChange', function (event) {
		    var args = event.args;
		    var element = args.element;
		    var checked = args.checked;
			if (element.parentElement.getAttribute("class") != 'jqx-tree-dropdown-root') {	
				if(args.checked == true) {
					sl.set(element.id, element.innerText);
				} else {
					sl.delete(element.id);
				}
				if(sl.size > 0 ) {
					alert(sl.size);
				}
			}
		}); 

		});
		runSuite= function() {
		var roles = [...sl.values()];
		alert("Suite \n " + roles);
		}
body
	button#RunIt(onclick='runSuite()') Run Suite
	div#jqxTree
		ul
			li(item-expanded='true')
				a(href="#")= 'All Suites'
					ul
						each dt in data
							li(item-checked='false')
								a(href="#")= dt