head
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
	style(type='text/css').
		.table, th, td {
			border: 1px solid black;
		}
	
	script(type="text/javascript").
		function showResult() {
			$.get( "/getReslt", function( data ) {
				if(data.suite=="") {
					setTimeout(showResult, 1000)
				} else {
				$("#suitetable").empty();
				var suite = JSON.parse(data.suite);
					var el ="<tr><th>Suite Name:</th><th>Execution Time:</th><th>Average Response Time:</th><th>Total Tests:</th><th>Failed Tests:</th><th>Total Assertions:</th><th>Failed Assertions:</th><th>Result:</th>/tr>";
					suite.collectionResults.forEach(function(value, index, array) {
						el +="<tr><td>" + value.suiteName + "</td>";
						el +="<td>" + value.executionTimeTotal + "</td>";
						el +="<td>" + value.responseTimeAverage + "</td>";
						el +="<td>" + value.testsTotal + "</td>";
						el +="<td>" + value.testsFailed + "</td>";
						el +="<td>" + value.assertionsTotal + "</td>";
						el +="<td>" + value.assertionsFailed + "</td>";
						el +="<td>" + value.result + "</td></tr>";
					});
					$("#suitetable").append(el);
				}
			});
		}
		$(document).ready(function(){
			showResult();
		})
body
	p Suite results
	div#summary
		table#suitetable
			
	