head
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css")
	link(rel="stylesheet" href="/resources/demos/style.css")
	script(src="https://code.jquery.com/jquery-1.12.4.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(type="text/javascript").
		$(function() {
			$( "#progressbar" ).progressbar({value: 10});
		});
		var i=0;
		function showprogress() {
		$.get( "/getstat", function( data ) {
			$( "#progressbar" ).progressbar({value: data.cur});
		if(i<10) {	
			i=i+1;
			setTimeout(showprogress, 3000)
		}})};
		showprogress();
body
	p Running the suite
	div#progressbar
	